* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  outline: none;
}
.container {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Calculator {
  background-color: aliceblue;
  padding: 15px;
  border-radius: 15px;
  box-shadow: inset 5px 5px 12px rgb(29, 25, 25),
    5px 5px 12px rgba(0, 0, 0, 0.16);
  display: grid;
  grid-template-columns: repeat(4, 65px);
}
input {
  grid-column: span 4;
  height: 50px;
  width: 250px;
  background-color: aliceblue;
  border-radius: 33px;
  font-size: 30px;
  text-align: end;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 12px;
}
button {
  background-color: aliceblue;
  height: 40px;
  width: 40px;
  border: none;
  box-shadow: inset 5px 5px 12px grey, 5px 5px 12px rgba(0, 0, 0, 0.16);
  border-radius: 50px;
  margin: 8px;
  font-size: 18px;
}
.equal {
  width: 110px;
  border-radius: 24px;
}
